public net.minecraft.client.Minecraft func_230149_ax_()Ljava/lang/String; #getWindowTitle
#PlayerModelStuff
public net.minecraft.client.renderer.entity.EntityRendererManager field_178636_l #skinMap
#ModelJsonLoader
public net.minecraft.resources.SimpleReloadableResourceManager field_199015_d #reloadListeners
public net.minecraft.client.renderer.model.ModelRenderer field_78804_l #cubeList
#EmissiveModels
public-f net.minecraft.client.renderer.model.BlockModel field_217647_g #FACE_BAKERY
#public-f net.minecraft.client.renderer.block.model.ModelBakery field_177607_l #faceBakery