#PlayerModelAccessor
public net.minecraft.client.renderer.entity.RenderManager field_178636_l # skinMap
public+f net.minecraft.client.resources.SimpleReloadableResourceManager field_110546_b # reloadListeners
protected net.minecraft.client.renderer.entity.RenderPlayer func_177137_d(Lnet/minecraft/client/entity/AbstractClientPlayer;)V # setModelVisibilities
public net.minecraft.client.renderer.entity.RenderLivingBase field_177097_h #layerRenderers
public-f net.minecraft.client.renderer.block.model.ModelBakery field_177607_l # faceBakery